body {
	color: black;
	background-color: white;
}
a:link {
	color: #1f00ff;
}
a:visited {
	color: #9900dd;
}
a:active {
	color: red;
}
.toc {
	text-align: center;
}
.logo {
	text-align: right;
}
.config {
	border-width: 1;
	border-color: black;
	background-color: #ccccff;
}
